body{
    background-color: #f3e3e2 ;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 2 / 2 / 3 / 3;
    background-color: #74112f;
    border-right: 3px solid black;
    border-top: 3px solid black;
    border-left: 3px solid black;

    }
.div2 { grid-area: 2 / 4 / 3 / 5;
    background-color: #74112f;
    border-right: 3px solid black;
    border-top: 3px solid black;
    border-left: 3px solid black;
}
.div3 { grid-area: 3 / 2 / 4 / 3;
    background-color: #74112f;
    border-right: 3px solid black;
    border-left: 3px solid black;

}
.div4 { grid-area: 3 / 4 / 4 / 5;
    background-color: #74112f;
    border-right: 3px solid black;
    border-left: 3px solid black;
}
.div5 { grid-area: 4 / 2 / 5 / 3;
    background-color: #74112f;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}
.div6 { grid-area: 4 / 4 / 5 / 5;
    background-color: #74112f;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;

}
.div7 { grid-area: 1 / 2 / 2 / 5;
    background-color: #74112f;
    margin-top: 10px;
    padding-top: 50px ;
    margin-bottom: 10%;
    border: 3px solid black;
}
.div8 {
    grid-area: 3 / 3 / 3 / 3;
    background-color: #74112f;

    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    border: 3px solid black;

}

h2{
    font-size: 15px;

}
h3{
    font-size: 25px;

}

div {
    text-align: center;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
a:read-only{
    color: #f3f3e2;
}
a:hover{
    color: red;
}




