body {
    background: lightslategray;
}


#container{
    width:500px;
    margin:0 auto;
    margin-top:10%;
}

form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #ffff
}
#container h1{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;

}
input[type=submit] {
    background-color: mediumseagreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: black;

}
header{
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;


}
h1 {
   background: darkslategray;
    padding-bottom: 20px;
    text-align: center;
    border: 3px solid black;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 2 / 2 / 5; }
.div2 { grid-area: 2 / 4 / 3 / 5; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 3 / 3 / 4 / 4; }

h2{
    text-align: center;
    background-color:  darkslategray;
    border: 3px solid black;

}
h3{
    text-align: center;
    background-color:  darkslategray;
    border: 3px solid black;
    padding-bottom: 10px;
    padding-top: 10px;

}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: red;
}










